.message-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 320px;
  padding: var(--message-padding);
  transform: translate(-50%, -50%);
  background-color: var(--message-bg);
  color: var(--message-color);
  font-size: var(--message-font-size);
  font-family: sans-serif;
  text-align: center;
  border-radius: var(--message-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 990;
  pointer-events: none;
  opacity: 1;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

/* Tablets */

@media (min-width: 768px) {
  .message-window {
    max-width: 400px;
  }
}

/* Desctops */

@media (min-width: 1024px) {
  .message-window {
    max-width: 480px;
  }
}
